:root {
    --font-color: #2eb7cc;
    --page-background-color:black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:var(--page-background-color);
    color: var(--font-color);

}

.page-container {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
}

.left-page-column{
    flex: 1; /* Allow the  column to grow and take available space */
}

.right-page-column{
    flex: 1; /* Allow the  column to grow and take available space */
}

.image-container {
    height: 100%;
}

#main-image{
    height: 100vh;
    width: auto;
    display: block;
    z-index: 1;/* Place the GIF behind the image */
}

#logo-image{
    position: absolute;
    justify-content: center;
    align-items: center;
    height:13%;
    top: 3vh;
    left: 1vh;
    z-index: 2;
}


.dummy-text-container{
    position: absolute;
}

.form-container {
    background-color: rgb(60, 58, 58);
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
    display: flex;
    flex-flow: row wrap;
    margin-top: 15rem;
}


.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-right: 2rem; 
}

.label-control{
    margin-bottom: 0.5rem;
}

.input-control{
    height: 1.5rem;
    flex-grow: 1;
    width: 27rem;
    background-color: rgb(15, 15, 15);
    border-radius: 0.2rem;
    border: 0.1rem solid  #2eb7cc;
}

